@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

nav {

    // background-image: url('../images/svg.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    .lode {
        position: absolute;
        left: 0;
        z-index: -1;
    }

}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-scroll {
    width: 44px;
    height: 70px;
    margin-left: 180px;
    top: -60px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(46px);
        transform: translateY(46px);
    }
}



.hero {
    background-image: url('../images/star.png');
    background-size: contain;
    background-position: center;
    font-family: 'Notable', sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    padding: 0 20px;
    position: relative;

    h1 {
        margin-top: 20px;
        margin-bottom: 0;
        font-family: inherit;
        font-size: 60px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #edf5e1;
    }

    p {
        font-family: 'Muli', sans-serif;
        font-size: 16px;
    }
}

.first-fold {
    // background-image: url('../images/first-fold.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
    margin-top: 60px;
}

// .first-fold::before {
//     content: '';
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     background-color: #00bb77;
//     opacity: 0.25;
// }

.pizza-div {
    display: flex;
    position: absolute;
    bottom: 0;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: space-between;
}


.pizzaLeft {
    position: absolute;
    left: -176px;
    width: 300px;
}

.pizzaRight {
    position: absolute;
    right: -176px;
    width: 300px;
}


.demo-scroll {
    position: absolute;
    bottom: -150px;
}

.box span {
    width: 20px;
    height: 20px;
    display: block;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -0.2s;
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: rotate(45deg) translate(10px, 10px);
    }

    100% {
        opacity: 0;
    }
}