.your-class {
    height: 100%;

    img {
        width: 100%;
    }
}

.first-fold.menu {
    height: 100%;

    p {
        font-size: 18px;
        line-height: 24px;
    }
}

.wrapper {
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 5px;
}


.center {
    margin-top: 30px;

    img {
        width: 90%;
    }
}